<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="../static/css/easyui.css">
    <link rel="stylesheet" type="text/css" href="../static/css/icon.css">
    <link rel="stylesheet" type="text/css" href="../static/css/demo.css">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
</head>
<body>
    <div style="margin:20px 0;"></div>

    <div class="easyui-panel" title="注册" style="width:100%;max-width:400px;padding:30px 60px;">
        <div style="" class="panel-left">
            <img src="../static/images/register.jpg" style="width: 150px;height: 150px;margin-left: 15%"/>
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" label="用户名:" labelPosition="top" style="width:100%;height:52px">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" label="密码:" labelPosition="top" style="width:100%;height:52px">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" label="重复密码:" labelPosition="top" style="width:100%;height:52px">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" label="验证码:" labelPosition="top" style="width:100%;height:52px">
        </div>
        <div>
            <a href="#" class="easyui-linkbutton" iconCls="icon-ok" style="width:30%;height:32px;margin-left: 5%">注册</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-ok" style="width:30%;height:32px;margin-left: 30%">退出</a>
        </div>
    </div>
</body>
</html>