<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>采购星级评价情况</title>
    <link rel="stylesheet" href="#(ctx)/layui/css/layui.css">
    <link rel="stylesheet" href="#(ctx)/ztree/metroStyle/metroStyle.css"/>
    <link rel="stylesheet" type="text/css" href="#(ctx)/style/frame/content.css">
    <script type="text/javascript" src="../static/jquery-1.7.1.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout">
    <div class="back_detail" style="width:230px">#(usernm)星级信息(每个项目最高50星)</div>
    <!--<table class="layui-table" id="datagrid" lay-filter="stars"></table>-->
        <table border="1" cellspacing="0" width="50%" lay-filter="stars" class="layui-table" id="datagrid">
            <tr style="background: #f2f2f2">
                <th colspan="2">采购员</th>
                <th>专业性</th>
                <th>响应速度</th>
                <th>进度计划准确性</th>
                <th>服务态度</th>
                <th>采购需求确认及时性</th>
                <th>汇总数据</th>
            </tr>
            <tr id="cc">
                <td rowspan="2">#(usernm)</td>
                <td>总分</td>
                <td id="cnm"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>平均分</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
</div>
<script type="text/javascript">
    function dd() {
        $("#datagrid tr").each(function (i) {
            $(this).children('td').each(function(j){  // 遍历 tr 的各个 td
                console.log("第"+(i+1)+"行，第"+(j+1)+"个td的值："+$(this).text()+"。")
                $(this).eq(3).html("cdcdc");
            });
        });
    }
    $(function(){
        //dd();
        $("td").eq(4).html("clcli");
    });
</script>

<script type="text/javascript" src="#(ctx)/layui/layui.js"></script>
<script type="text/javascript" src="#(ctx)/js/common.js"></script>
<script type="text/javascript"
        src="#(ctx)/js/content/kpi/starinfo.js?v=#(getTime('js/content/kpi/starinfo.js'))"></script>
</body>
</html>