
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>11</title>
    <link rel="stylesheet" href="../static/chosen.css">
    <style type="text/css">
    </style>
</head>
<body>
<p id="a1">cc</p>
<input type="button" onclick="open()" value="cc">
<input type="button" onclick="close()" value="cc1">

<script type="text/javascript" src="../static/myStyle.js"></script>
<script type="text/javascript" src="../static/globel.js"></script>
<script type="text/javascript" src="../static/jquery-1.7.1.js"></script>
<script type="text/javascript">
    //var doc = document.createElement("p");
    var docs = document.createTextNode("cnm");
    var doc = document.createElement("p");
    doc.appendChild(docs);
    doc.setAttribute("id", "a2");
    var cc = document.getElementById("a1");
    cc.appendChild(doc);


    var dd = new Object();

    new Fa();

    $(document).ready(function(){
        test();
    });


</script>
</body>
</html>